/* 
    Created on : 12-Oct-2017, 8:04:59 AM
    Author     : nicolesawler
*/



/*
*timeline
*
*/

#single-moment{
    margin-top:20px;
    text-align:center;
    position:relative;
}


textarea.in-single-mom{
	width:560px;
        height:80px;
	margin: 20px 20px 20px 20px;
	padding:12px;
	border:0px solid #080049;
	border-radius:10px;
        background-color:#eee;
        color:#474747;
        resize:none;
        font-size:14px;
        line-height:20px;
        overflow:hidden;
        display:block;
	
}
textarea.in-single-mom:focus{
	outline: none;
}

button.in-single-mom-submit{
	width:150px;
	height:50px;
	padding:0px;
        text-align:center;
	font-weight:bold;
	font-size:25px;
	background-color:#080049;
	color:white;
	border:0;
	
}
button.in-single-mom-submit:focus,button.in-single-mom-submit:hover{
	outline: none;
        background-color:#dbce00;
        color:#080049;
        cursor:pointer;
	
}

#single-moment [class^="gw-"]:before,
#single-moment  [class*=" gw-"]:before,
#single-moment [class^="gw-"]:after,
#single-moment  [class*=" gw-"]:after{
    font-size:13px;
    float:left;
    line-height:15px;
    margin-right:5px;
    margin-bottom:0px;
    margin-left:0;
    
}



.Timeline_Container{
    background-color:transparent;
    margin-top:-15px;
    width:950px;
}


#message-box-left{
	background-color:#6393c0;
	border:1px solid #ddd;
        border-top:0;
	float:left;
	font-size:14px;
        line-height:22px;
	color:#474747;
	width:310px;
	font-family:verdana;
	font-weight:normal;
        border-radius: 0 0 10px 10px;
        position:relative;
        padding-bottom:150px;
        height:800px;
}
#message-box-left.friend{
	background-color:#6393c0;
}
#message-box-left.love{
	background-color:#d1536d;
}
#message-box-left .career{
	background-color:#d8cb3d;
}



#message-box-left ul{
    list-style:none;
    margin:0px 0 100px 0;
    padding:0px;
}
#message-box-left ul li{
    color:white;
    border-bottom:1px solid white;
    font-weight:bold;
    padding: 5px 10px 5px 10px;
    
}
#message-box-left ul li:hover{
    background-color:#93b7d9;
    cursor:pointer;
    
}
#message-box-left ul li small{
    font-weight:normal;
    letter-spacing:1px;
    font-size:10px;
    
}
#message-box-left ul li .actions{
    font-weight:normal;
    letter-spacing:1px;
    font-size:10px;
    float:right;
    
}
    #message-user-info{
        position:absolute;
        bottom:0px;
        width:310px;
        background-color:white;
        height:150px;
    }
    .message-profile-pic{
        border:1px solid #474747;
        float:left;
        width:100px;
        height:100px;
        margin:25px 10px 25px 25px;
    }
    .message-msg{
        float:left;
        width:100px;
        height:100px;
        margin:25px 10px 25px 0px;

    }  
    span.msg-zodiac{
        color:#ccc;
    }

    #real-messages{
        background-color:#ccc;
        width:600px;
        height:720px;
        margin: 0px auto;
        overflow:scroll ;
        overflow-x:hidden;
        font-family:verdana;
        font-size:13px;
        line-height:20px;
    }
#real-messages .date{
    color:#ccc;
    font-size:8px;
    text-align:left;
    display:block;
}
 #real-messages p:nth-child(odd) {
    background: white;
    text-align:left;
    padding:10px;
    margin:0;
    color:#080049;
}

 #real-messages p:nth-child(even) {
    background: #ebf0f5;
    text-align:right;
    padding:10px;
    margin:0;
    color:#080049;
}
#real-messages.friend p:nth-child(even) {
    background: #ebf0f5;
}
#real-messages.love p:nth-child(even) {
    background: #f6ebed;
}
#message-box-right{
	background-color:white;
	border:1px solid #ddd;
        border-top:0;
	float:left;
	font-size:14px;
        line-height:22px;
	color:#474747;
	width:628px;
	font-family:verdana;
	font-weight:normal;
        border-radius: 0 0 10px 10px;
}
#message-title{
	background-color:white;
	border:1px solid #ddd;
        border-bottom:1px solid #ccc;
	text-align:left;
	padding:10px 0 0 10px;
	margin:15px 0 0px 0;
	font-size:12px;
	color:#080049;
	width:930px;
	height:25px;
	font-family:verdana;
	font-weight:normal;
}
#status-title a {
    text-decoration:none;
}


#status-title.goals{
    color:#474747;
}
#status-title.goals b{
    color:#6393c0;
}
#status-title.love{
    color:#474747;
}
#status-title.love b{
    color:#e2476b;
}
#status-title.career{
    color:#474747;
}
#status-title.career b{
    color:#dbce00;
}


.timelinedate{
    text-align:right;
    color:#ccc;
    font-size:11px;
    display:block;
}




.HomeFriendDiv,#HomeFriendButton a{
    font-weight:bold;
    width:270px;
    border:1px solid #6393c0;
    color:#6393c0;
    float:left;
    padding:20px;
    font-size:14px;
    text-align:center;
    background-color:white;
    border-radius: 9px 9px 0 0;
    margin-right:3px;
}
.HomeLoveDiv,#HomeLoveButton a{
    font-weight:bold;
    width:270px;
    border:1px solid #e2476b;
    color:#e2476b;
    float:left;
    padding:20px;
    font-size:14px;
    text-align:center;
    background-color:white;
    border-radius: 9px 9px 0 0;
    margin-right:3px;
}
.HomeCareerDiv,#HomeCareerButton a{
    font-weight:bold;
    width:270px;
    background-color:white;
    border:1px solid #dbce00;
    color:#dbce00;
    float:left;
    padding:20px;
    font-size:14px;
    text-align:center;
    border-radius: 9px 9px 0 0;
    margin-right:3px;
}

.friendActive
{
    color:white;
    background-color:#6393c0;
}
.loveActive
{
    color:white;
    background-color:#e2476b;
}
.careerActive
{
    color:white;
    background-color:#dbce00;
}


